
# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm
.npmrc

tegrity file
.yarn-integrity

# dotenv environment variables file
.env

# next.js build output
.next

# built source
dist/

.DS_Store

.vscode
